.body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}
.logo{
    margin: auto;
    background-image: url("../../img/MainLogo.png");
    background-size: cover;
    width: 300px;
    height: 200px;
}